{% extends 'base.html' %}
{% load static %}


{% block content %}
   <style>
      .button {
      background-color: #66FF99;
      border: none;
      color: black;
      padding: 20px 34px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      margin: 4px 2px;
      cursor: pointer;
      }
    </style>
 <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Табель</h1>
						<a href="new_daily_timesheet" class="button">Добавить</a>
					</div>
                <title>Табель</title>


	<body>
<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Табель</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-striped">
						  <thead>
						    <tr>

						      <th>Дата</th>
						      <th>Сотрудник</th>
						    </tr>
						  </thead>
						  <tbody>
						  {% for item in timesheet %}
						    <tr>
						      <th >{{ item.date }}</th>
								<td>{{ item.employee }}</td>
						    </tr>
						  {% endfor %}
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
            </div>
        </div>
	</html>
</div>
{% endblock %}