<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выработка сводная</title>
</head>
<style>
  table.iksweb{text-decoration: none;border-collapse:collapse;width:100%;text-align:center;}
  table.iksweb th{font-weight:normal;font-size:14px; color:#ffffff;background-color:#354251;}
  table.iksweb td{font-size:13px;color:#354251;}
  table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:10px 5px;line-height:13px;vertical-align: middle;border: 1px solid #354251;}
  table.iksweb tr:hover{background-color:#f9fafb}
  table.iksweb tr:hover td{color:#354251;cursor:default;}
</style>
<body>
   <form action="" method="get">
                    <table style="width:30%">
                    <tr>
                           <td> <label for="date" class="mt-2">    Дата с    </label></td>
                        <br>


	                        <td> <input type="date" class="form-control"  name="q1" required/></td>

                        <br>

                            <td><label for="date" class="mt-2">    Дата по     </label> </td>
                        <br>


	                         <td><input type="date" class="form-control"  name="q2" required/></td>
                        <br>

                        <td> <button type="submit" class="btn btn-primary rounded-pill">   Поиск   </button></td>



                    </tr>
            </table>
            </form>
<table class="iksweb">
	<tbody>
		<tr>
			<td rowspan="3">Модель</td>
			<td colspan="{{6}}">{{ production.catalogue.model }} </td>
			<td colspan="5"></td>
		</tr>
		<tr>
			<td colspan="3">{{ production.catalogue.code }} </td>
			<td colspan="3"></td>
			<td colspan="3"></td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td>{{ production.catalogue.color }} </td>
			<td>{{ production.catalogue.color }} </td>
			<td>{{ production.catalogue.color }} </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>1</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>2</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>3</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>4</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</body>
</html>