{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
* {
    box-sizing: border-box;
}
input[type=text], select, textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
label {
    padding: 10px 10px 12px 0;
    display: inline-block;
}
.container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 10px;
}
.col-75 {
    float: left;
    width: 75%;
    margin-top: 10px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
</style>
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">НОВЫЙ КЛИЕНТ</h1>
            </div>
<!--            <title>НОВЫЙ ПРОДУКТ</title>-->
	        <body>
                <section class="ftco-section">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6 text-center mb-5"></div>
                            </div>
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-25">
                                            <label>ИМЯ КЛИЕНТА</label>
                                        </div>
                                        <div class="col-75">
                                            {{ form.name }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label>№ ТЕЛЕФОНА</label>
                                        </div>
                                        <div class="col-75">
                                            {{ form.phone }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label>АДРЕС</label>
                                        </div>
                                        <div class="col-75">
                                            {{ form.address }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-25">
                                            <label>ФАЙЛЫ</label>
                                        </div>
                                        <div class="col-75">
                                            {{ form.file }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br>
                                        <br>
                                        <button type="submit">Сохранить</button>
                                    </div>
                                </form>
                        </div>
                </section>
            </body>
        </div>
    </div>
</div>
{% endblock %}