<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>Отчет о зарплате</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Начисление заработной платы за {{month.year}}  по станку ЭВА</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-striped">
						  <thead>
						    <tr>
						      <th>№</th>
								<th>ФИО</th>
						      <th>ДОЛЖНОСТЬ</th>
						      <th>РАБ ДНЕЙ</th>
						      <th>ФАКТ ДНИ</th>

						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row">{{ self.fio }}</th>
						      <td>повар</td>
						      <td>26</td>
						      <td>20</td>
						      <td>20</td>
								<td>26</td>


						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

	</body>
</html>


