{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
{% load static %}

<div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Регистрация нового сотрудника</h1>
                        <h1 class="page-subhead-line"></h1>

                    </div>
                </div>
<div class="details">
    <form action="" method="POST">

            <div class="details-fieldset">
                {% csrf_token %}
                <br>
                <h4>Имя пользователя</h4>
                <br>
                <p>{{register_form.username}}</p>
                <br>
                <h4>Имя</h4>
                <br>
                <p>{{register_form.first_name}}</p>
                <br>
                <h4>Фамилия</h4>
                <br>
                <p>{{register_form.last_name}}</p>
                <br>
                <h4>Пароль</h4>
                <br>
                <p>{{register_form.password}}</p>
                <br>
                <h4>Повторите пароль</h4>
                <br>
                <p>{{register_form.password2}}</p>
                <br>
                <h4>Бухгалтер</h4>
                <br>
                <p>{{register_form.is_accountant}}</p>
                <br>
                <h4>Кассир</h4>
                <br>
                <p>{{register_form.is_cashier}}</p>
                <br>
            </div>
            <button class="details-action-btn" value="submit" class="btn btn-success">Регистрация</button>

    </form>
</div>


            </div>
            <!-- /. PAGE INNER  -->
        </div>

{% endblock %}