

{% extends 'base.html' %}
{% load static %}
{% block content %}
   <style>
      .button {
      background-color: #66FF99;
      border: none;
      color: black;
      padding: 20px 34px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 15px;
      margin: 4px 2px;
      cursor: pointer;
      }
    </style>
 <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">Начисление заработной платы по станку ПУ </h1>
					</div>
<body>


                <form action="" method="get">
                    <table style="width:30%">
                    <tr>
                           <td> <label for="date" class="mt-2">    Дата с    </label></td>
                        <br>


	                        <td> <input type="date" class="form-control"  name="q1" required/></td>

                        <br>

                            <td><label for="date" class="mt-2">    Дата по     </label> </td>
                        <br>


	                         <td><input type="date" class="form-control"  name="q2" required/></td>
                        <br>

                        <td> <button type="submit" class="btn btn-primary rounded-pill">   Поиск   </button></td>



                    </tr>
            </table>
            </form>
</body>
                </div>
                   </div>
{% endblock %}
